<div class="sign_in">
  <div class="si">
    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name,
                    required: true,
                    autofocus: true,
                    label_html: { class: 'labels' },
                    input_html: { autocomplete: "Name" }%>

        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label_html: { class: 'labels' },
                    input_html: { autocomplete: "email" }%>

        <%= f.input :password,
            required: true,
            label_html: { class: 'labels' },
            hint: false,
            input_html: { autocomplete: "new-password" }, maxlength: 20  %>

        <%= f.input :password_confirmation,
                    required: true,
                    label_html: { class: 'labels' },
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions" >
        <%= f.button :submit, "Sign up", class: 'sin' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>