<div class="container">

	<div class="vido" data-controller="muted-sound">
		<%= video_tag "nicblendz.mp4", autoplay: true, loop: true, oncanplay: "this.muted=true", class: "vid", data: { muted_sound_target: "video", action: "load->muted-sound#mute" } %>
	</div>

	<div class="nv-items">
		<% if user_signed_in? %>
			<%= link_to "Action", "#", class: "buttons" %>
			<%= link_to "Another action", "#", class: "buttons"  %>
			<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "buttons"  %>
		<% else %>
			<%= link_to "Home", "#", class: "buttons"  %>
			<%= link_to "Team", "#", class: "buttons"  %>
			<%= link_to "Register", new_registration_path(resource_name), class: "buttons" %>
			<%= link_to "Login", new_user_session_path, class: "buttons"  %>
		<% end %>
	</div>
</div>
